<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>INDICATE Quality Dashboard</title>
    <link rel="icon" type="image/svg" href="/static/favicon.svg"/>
    <link rel="stylesheet" href="/static/style.css">
    <link href="/static/SimpleDataTables.css" rel="stylesheet" type="text/css">
    <script type="module">{% block script %}{% endblock %}</script>
  </head>
  <body>
    <div class="topbar">
      <div class="brand">INDICATE Quality Dashboard</div>
      <form class="period" method="get">
            <label>Start
              <input type="date" name="start" value="{{ start|default('') }}">
            </label>
            <label>End
              <input type="date" name="end" value="{{ end|default('') }}">
            </label>
            <button type="submit">Apply</button>
      </form>
        <a class="fakebutton" href="?start={{ times.year_start }}&end={{ times.today }}">Last Year</a>
        <a class="fakebutton" href="?start={{ times.month_start }}&end={{ times.today }}">Last Month</a>
        <a class="fakebutton" href="?start={{ times.week_start }}&end={{ times.today }}">Last Week</a>

        {% if period == 'weekly' %}
            <div class="fakebutton active">Weekly</div>
        {% else %}
            <a class="fakebutton" href="?period=weekly&start={{ start }}&end={{ end }}">Weekly</a>
        {% endif %}

        {% if period == 'monthly' %}
            <div class="fakebutton active">Monthly</div>
        {% else %}
            <a class="fakebutton" href="?period=monthly&start={{ start }}&end={{ end }}">Monthly</a>
        {% endif %}

        {% if period == 'yearly' %}
            <div class="fakebutton active">Yearly</div>
        {% else %}
            <a class="fakebutton" href="?period=yearly&start={{ start }}&end={{ end }}">Yearly</a>
        {% endif %}
      <nav class="navlinks">
          <a href="/">Overview</a>
      </nav>
    </div>

    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
