{% from "history-cell.html" import history_cell %}
{% extends "base.html" %}

{% block script %}
import {DataTable} from "/static/SimpleDataTables.js"
window.dt = new DataTable("#detail")
{% endblock %}

{% block content %}
  <a class="back" href="/?start={{ start }}&end={{ end }}">← Back to overview</a>
  <h1>
      {% if name %}
        {{ name|e }}
      {% else %}
        {{ indicator_id }} <span class="muted">(failed to look up QI info)</span>
      {% endif %}
  </h1>
  <p class="muted">
    {% if description %}
      {{ description|e }}
    {% else %}
      (failed to look up QI info)
    {% endif %}
  </p>

  <table id="detail" class="grid">
    <thead>
      <tr class="table detail-table header">
        <th>Rank</th>
        <th>Data provider</th>
        <th>Avg. Number of Patients</th>
        <th>Avg. Adherence</th>
        <th data-sortable="false">History</th>
      </tr>
    </thead>

    <tbody>
    {% for p in providers %}
    <tr class="table detail-table row{% if p.is_self %} self{% endif %}">
      <td class="rank">{{ p.rank }} / {{ providers|length }} </td>
      <td class="provider">{{ p.label|e }}</td>
      <td>{{ '%.2f' % p.num_patients }}</td>
      <td>{{ '%.2f' % p.avg }} %</td>
      <td>
          <div class="history">
              {% for cell in p.history %}
              {{ history_cell(cell.date, cell.value, cell.observation_count) }}
              {% endfor %}
          </div>
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
