{% from "history-cell.html" import history_cell %}

{% extends "base.html" %}

{% block script %}
import {DataTable} from "/static/SimpleDataTables.js"
window.dt = new DataTable("#overview-table")
{% endblock %}

{% block content %}
  <h1>Overview</h1>

  <table id="overview-table" class="grid">
      <thead>
      <tr class="table overview-table header">
          <th>Indicator</th>
          <th>Number of Hospitals</th>
          <th>Avg. Number of Patients</th>
          {% if with_provider_id %}
              <th>Avg. Adherence (own/all)</th>
              <th>Rank</th>
          {% else %}
              <th>Avg. Adherence</th>
          {% endif %}
          <th data-sortable="false">History</th>
      </tr>
      </thead>
      <tbody>
      {% for ind in indicators %}
      <tr class="table overview-table row">
          <td class="name">
              <a href="/indicator/{{ ind.id }}?start={{ start }}&end={{ end }}">
                  {% if ind.name %}
                    {{ ind.name|e }}
                  {% else %}
                    {{ ind.id }} <br/> <span class="muted">(failed to look up QI info)</span>
                  {% endif %}
              </a>
          </td>
          <td>
              <a href="/indicator/{{ ind.id }}?start={{ start }}&end={{ end }}">
                  {{ ind.num_hospitals }}
              </a>
          </td>
          <td>
              <a href="/indicator/{{ ind.id }}?start={{ start }}&end={{ end }}">
                  {{ '%.2f' % ind.num_patients }}
              </a>
          </td>
          {% if with_provider_id %}
              <td>
                  <a href="/indicator/{{ ind.id }}?start={{ start }}&end={{ end }}">
                      {{ '%.2f' % (100*ind.avg_own) }} % / {{ '%.2f' % (100*ind.avg_all) }} %
                  </a>
              </td>
              <td>
                  <a href="/indicator/{{ ind.id }}?start={{ start }}&end={{ end }}">
                      {{ ind.rank }} / {{ ind.num_hospitals }}
                  </a>
              </td>
          {% else %}
              <td>
                  <a href="/indicator/{{ ind.id }}?start={{ start }}&end={{ end }}">
                      {{ '%.2f' % (100*ind.avg_all) }} %
                  </a>
              </td>
          {% endif %}
          <td>
              <a class="history" href="/indicator/{{ ind.id }}?start={{ start }}&end={{ end }}">
                  {% for cell in ind.history %}
                  {{ history_cell(cell.date, cell.value, cell.observation_count) }}
                  {% endfor %}
              </a>
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>

{% endblock %}
